* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
    
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #ff9900;
    line-height: 1.6

}

/*================================icones redes sociais========================*/
.social-media-icons {
    background-color: #000000b6;
    /* Cor de fundo do header */
    color: rgb(241, 241, 241);
    /* Cor do texto no header */
    padding: 10px 20px;
    /* Espaçamento interno */
    text-align: left;
    /* Alinhamento do texto */
    position: fixed;
    /* Fixa o header no topo */
    top: 5px;
    left: 1200px;
    border-radius: 10px;
    margin: auto;
    z-index: 1;
    opacity: 80%;
    right: 10px;
   
}

/* Estilo para os ícones das redes sociais */
.social-media-icons a {
    color: rgb(255, 255, 255);
    /* Cor dos links */
    text-decoration: none;
    /* Remove o sublinhado dos links */
    margin: 5 15px;
    /* Espaçamento entre os ícones */
}

.social-media-icons i {
    font-size: 24px;
    /* Tamanho dos ícones */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

/* essa seção vale para todos h2------*/
.section h2 {
    font-size: 2.5em;
    color: #000000;
    /* Um rosa vibrante para destaque */
    margin-bottom: 40px;
    
    
}

.button {
    
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: -150px

}

.button.primary {
    background-color: #ff9900;
    /* Um laranja apetitoso */
    color: #000000;
}

.button.secondary {
    background-color: #ff9900;
    /* Um roxo moderno */
    color: #000000;
}

.button.small {
    padding: 10px25px;
    font-size: 0.9em;
}


.button.full {
    display: block;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

/* Cabeçalho ------------------retirado para mudar layout justify-content: space-between;*/
header {
    background-color: #ff9900;
    padding: 5px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.137);
    display: flex;
    align-items: center;
    position: initial;
}


.logo img {
    max-height: 10rem;
    max-width: 150%;
    cursor: pointer;
    filter: drop-shadow(0 0 8rem rgb(255, 254, 254));
   
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    transition: 0.3s;

}

.button:hover {
    color: #f5f5f5;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

/* Seção Hero */
.hero {
    background: linear-gradient(#fdfdfdbe, #9b5e02, #ffffff85), url('fundo site.png');
    /* Adicione uma imagem de fundo */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    


}

.fundo-site {
    /*max-width: 526px; foi alterado*/
    max-width: 100%;
    background-color: #fdfbfb00;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    right: -500px;
    transform: translateY(-50% -25%);
    position: absolute;
    top: -30%;
    transform: rotate(-50deg -20deg);
}


.hero h1 {
    font-size: 2em;
    margin-bottom: 15px;
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.37), 0 0 0.3em rgb(230, 150, 3),
        0 0 0.2em rgba(254, 254, 255, 0.514);
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    
}

.hero-image {
    display: none;
    /* Ocultar em telas menores */
    margin: top -80px;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    padding-top: 20px;
    transform: scaleX(1);
    right: -20px;
    filter: drop-shadow(0 0 3rem rgb(255, 255, 255));
    
        
}


/* Seção Destaques */
#destaques {

    background: linear-gradient(#ffffffb9, #9b5e02, #fffdfda6)
    
}

.destaques-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 10px;
}

.destaque-item {
    background-color: #ffffff10;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 5px rgb(245, 245, 245);
    
}

.destaque-item img {
    max-width: 500%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0px;
    filter: drop-shadow(0 0 2rem rgb(255, 255, 255));

}

.destaque-item h3 {
    color: #e07903;
    margin-top: -80px;
    margin-bottom: 10px;
    
}

.destaque-item h3:hover {
    color: #f5f5f5;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.destaque-item p {
    font-size: 0.95em;
    color: #000000;
}

/* Seção Cardápio */
#cardapio {
    background-color: #f4f4f4;
    background: linear-gradient(#ffffffcc, #9b5e02, #fffdfdc2)
}

#cardapio ul {
    list-style: none;
    padding: 0;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#cardapio ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: #e2b900;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    
}

#cardapio ul li a:hover {
    background-color: #f7aa05;
    color: #fff;
}

.cardapio-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 50px;
    justify-items: start;
    width: 100%;
    cursor: pointer;
}

.cardapio-item {
    background-color: #333333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    text-align: left;
    
}

.cardapio-item img {
    max-width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-top: 500px;
    justify-items: center;

}

.cardapio-item h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
    
}

.cardapio-item .descricao {
    color: #fffefe;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.cardapio-item .preco {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.1em;
}



/* Seção Delivery */
#delivery {
    background-color: #ffffff;
    background: linear-gradient(#f57c02, #9c5e03, #ffffff27);
}

#delivery h2 {
    color: #f5f5f5;
    margin-bottom: 10px;
    left: -70px;
    font-size: 2.8em;
    text-align: center;
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.671), 0 0 0.3em rgba(230, 151, 3, 0.753),
        0 0 0.2em rgba(254, 254, 255, 0.596);
}

#delivery button {
    background-color: #fd9e05;
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 80%;
    margin-top: 0px;
    left: 50px;
    right: 80px;
    
    
    
}

#delivery img {
    color: #f5f5f559;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 300px;
    text-align: center;
    max-width: 120%;   
    height: auto;
    width: 70%;
    height: auto;
    margin-right: 450px;
    

}

#delivery p {
    color: #f5f5f5;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 0 0 0.5em rgb(255, 255, 255), 0 0 0.3em rgb(230, 150, 3),
        0 0 0.2em rgb(254, 254, 255);
}

#delivery ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin-bottom: 50px;
    text-align: left;
    
}

#delivery ol li {
    margin-bottom: 10px;
    
}

/* Seção Sobre Nós e Contato */
#sobre {
    background: linear-gradient(#fdfdfd, #9b5e02d3, #ffffff98);

}

#sobre p {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 15px;
    color: #ffffff;
}

.footer-content {
    background-color: #42424254;


}

.footer-content-info {
    margin-top: 20px;
    right: 20px;
}

.footer-contato-info p {
    margin-bottom: 10px;
    font-size: 1.0em;
}

.footer-contato-info h2,
li,
p {
    margin-right: 50px;
    color: #fffafa;
    font-size: 1.2em;
    right: 30px;
    left: 30px;
    margin-right: 10px;
    

}

/*=================================cartão de crédito========================*/
.cartaos {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    position: relative;
    bottom: -50px;
    left: -100px;
    align-items: center;
    bottom: 0;
    color: #ffffff;
    background: linear-gradient(#ffffff00, #181818d8, #ffffffa6);
    border-bottom: 10px solid #fdfcfc00;
    padding: 30px;  
    width: 110%;
    margin: 20px;
}

.titulos {

    right: 20px;
    height: 20px;
    color: #000000;
    height: 50px;
    /* Altura da imagem */
    width: 100%;
    /* Largura da imagem */
    margin-bottom: -70px;
    /* Espaçamento inferior */
    text-align: center;
    /* Centraliza o texto */    
    font-weight: bold;
    /* Negrito */
    margin-top: -130px;
    /* Espaçamento superior */
    font-size: 1.5em;
    /* Tamanho da fonte */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253), -2px -2px 3px white;
    

}

.cartaos img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    width: 200px;
    display: block; 
    margin-bottom: 0px;  /* Espaçamento entre as imagens */
}

/* Rodapé */
footer {
    background-color: #464646;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 1.0em;
}

footer p {
    margin-bottom: -50px;
    font-size: 0.9em;
   color: #ffffff;

}

/*-----------------botao de voltar ao topo-----------------*/

.footer content inicio {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    width: 500%;
    text-align: right;
    padding: 20px;
    background-color: #3333335d;
    color: #fff;
    font-size: 1.2em;
}



/*----------------------------segunda pagina do site----------------------------*/
.button volar {

    cursor: pointer;

}

.back-to-top {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  text-decoration: none; /* Remove o sublinhado padrão do link */
  border-radius: 5px; /* Borda arredondada */
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0; /* Transparência inicial */
  transition: visibility 0.3s, opacity 0.3s; /* Transição suave para a visibilidade e opacidade */
}

.back-to-top:hover {
  background-color: #3e8e41; /* Cor de fundo ao passar o mouse */
}



/*========================localização do footer========================*/


/* Estilos Responsivos */
@media (min-width: 600px) {
    .hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .hero-content {
        max-width: 50%;
        padding-right: 50px;
        transform: scaleX(1);

    }

    .hero-image {
        display: block;
        max-width: 100%;
    }

    nav ul {
        display: flex;
    }

    .section {
        padding: 60px 20px;
    }
}

/* Animações */
.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.slide-in-left {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.slide-in-left.visible {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-right {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-in-right.visible {
    transform: translateX(0);
    opacity: 1;
}



@media (min-width: 600px) {
    .container {
        padding: 40px;
    }

    .section {
        padding: 80px 40px;
    }
}